.headwyg-editor{
  display:block;
  width: auto;
  min-height: 50px;
  padding: 0 10px 67px 10px;
  overflow: auto;
  max-width: 800px;
  margin: 0 auto;
  z-index: 90;
}
.headwyg-editor:empty{
  border: 1px dotted rgba(0,0,0,0.2);
  cursor: text;
  padding-bottom: 0;
}
.headwyg-editor .caret{
  animation: caret-flash 1s infinite ease-in-out;
  cursor: text;
}
.headwyg-editor .line{
  white-space: pre;
}

.headwyg-editor .char{
  user-select:none;
  cursor: text;
}
.headwyg-editor .char.selected{
  background: rgba(0,0,0,0.5) !important;
  color: white !important;
}

.headwyg-editor .img-wrap{
  position:relative;
  text-align: center;
  white-space: normal;
  display:inline-block;
  z-index: 90;
}

.headwyg-editor .img-wrap.selected::after{
  -webkit-box-shadow: inset 0px 0px 5px 3px rgba(255,204,0,1);
  -moz-box-shadow: inset 0px 0px 5px 3px rgba(255,204,0,1);
  box-shadow: inset 0px 0px 5px 3px rgba(255,204,0,1);

  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  width:auto;
  height:auto;
  content: "";
}

.headwyg-editor .img-wrap > img{
  margin-bottom: -4px;
}
.headwyg-editor .img-wrap:hover > .handle{
  background: rgba(0,0,0, 0.7);
  height: 10px;
  width: 10px;
  display:inline-block;
  position: absolute;
  z-index: 110;
  border: 1px solid white;
}
.headwyg-editor .img-wrap:hover > .handle.bottom-right{
  right: 0;
  bottom:0;
  cursor: se-resize;
}

.headwyg-toolbar{
  position:fixed;
  bottom: 0;
  right:0;
  left:0;
  width:auto;
  background: black;
  padding: 12px;
  z-index: 100;
}
.headwyg-toolbar .item{
  background: white;
  border: 1px solid rgba(0,0,0,0.6);
  padding: 5px 15px;
  line-height: 12px;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 5px;
}
.headwyg-toolbar select.item{
  padding: 5px 5px 5px 15px;
}
.headwyg-toolbar button.item{
  line-height: 16px;
}



.headwyg-toolbar #add-image-input{
  display:none;
}

@keyframes caret-flash {
  0%{ border-left: 1px solid rgba(0,0,0,1);}
  25%{  border-left: 1px solid rgba(0,0,0,0.5); }
  50%{  border-left: 1px solid rgba(0,0,0,0.1); }
  75%{  border-left: 1px solid rgba(0,0,0,0.5); }
  100%{  border-left: 1px solid rgba(0,0,0,1); }
}
